<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--  TODO SET NAME  -->

    <application
        android:name="com.evo.team.App"
        android:icon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:label="NAME"
        android:roundIcon="@mipmap/launcher_icon"
        android:usesCleartextTraffic="true" />

</manifest>
